<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ url("app_index") }}>OrganiFormation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_formation_index") }}>les Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_candidat_index") }}>les Candidats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_formateur_index") }}>les formateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_salle_index") }}>les salles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_session_index") }}>les sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_organisme_index") }}>les organismes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{ url("app_promotion_index") }}>les promotions</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

